/**
 * Base Setting
 * ------------------------------------------------------------------------- */

/* Noto Sans KR */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

* {
    font-family: "Noto Sans KR", sans-serif;
}

/**
 * VitePress Theme Custom
 * -------------------------------------------------------------------------- */

.container {
    max-width: none !important;
}
.VPSidebar {
    width: auto !important;
    padding: 72px 32px 128px !important;
}
.VPSidebar.open {
    width: calc(100vw - 64px) !important;
}

.VPNavBar .content {
    padding-right: 32px !important;
    background: var(--vp-c-bg) !important;
    backdrop-filter: none !important;
    border-bottom: 1px solid var(--vp-c-bg-alt) !important;
}

.VPContent.has-sidebar {
    padding-left: var(--vp-sidebar-width) !important;
    padding-right: 0 !important;
}
.content-container {
    margin: 0 !important;
    max-width: 100% !important;
}

.VPContent.is-home .VPHomeHero .container .main {
    text-align: center !important;
    margin: 0 auto !important;
}
.VPContent.is-home .VPHomeHero .container .main :is(.name, .text, .tagline) {
    max-width: 100% !important;
}
.VPContent.is-home .VPHomeHero .container .main .actions {
    justify-content: center;
}
.VPContent.is-home .VPHomeFeatures .container {
    max-width: 960px !important;
}

@media (max-width: 960px) {
    .VPContent.has-sidebar {
        padding-left: 0 !important;
    }
}
@media (max-width: 768px) {
    .VPNavBar.has-sidebar .content {
        padding-right: inherit !important;
    }
}

.VPNavBar {
    padding-right: 0 !important;
}
.VPNavBarMenu :is(.VPNavBarMenuLink, .VPLink, .text) {
    font-weight: 300 !important;
}

/**
 * Markdown Container
 * -------------------------------------------------------------------------- */

.markdown-container .info {
    text-align: center !important;
}
.markdown-container .info .title {
    font-weight: 300 !important;
    font-size: 2.5rem !important;
    line-height: normal !important;
    margin-bottom: 1rem !important;
}

.markdown-container .info .createBy {
    font-size: 0.875rem !important;
    opacity: 0.9 !important;
}
.markdown-container .info .img-box {
    margin-bottom: 3rem !important;
}
.VPDoc .content {
    max-width: 1100px !important;
    margin: 0 auto !important;
}

.VPDoc img {
    margin: 20px auto !important;
}
.VPDoc h1 {
    font-weight: 900 !important;
}
.VPDoc h2 {
    font-weight: 700 !important;
    border-top: 0 !important;
}
.VPDoc h2:first-child,
.VPDoc .custom-block > p:first-child + h2 {
    margin: 0 !important;
}
.VPDoc .custom-block .header-anchor {
    display: none !important;
}
.VPDoc :is(h3, h4, h5, h6) {
    font-weight: 600 !important;
}

.vp-doc div[class*="language-"] {
    margin: 16px 0 !important;
}

/**
 * NotFound Container
 * -------------------------------------------------------------------------- */

.NotFound-container {
    padding: 2rem 0;
    text-align: left;
}
.NotFound-container h1 {
    font-size: 5rem;
    line-height: normal;
}

.NotFound-container a {
    margin-top: 3rem;
    display: inline-block;
    padding: 0 50px;
    line-height: 50px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: var(--vp-button-brand-text);
    border-color: var(--vp-button-brand-border);
    background-color: var(--vp-button-brand-hover-bg);
}

@media (max-width: 1100px) {
    .NotFound-container h1 {
        font-size: 3rem;
    }
    .NotFound-container a {
        font-size: 1rem;
        padding: 0 30px;
        line-height: 48px;
    }
}

@media (max-width: 500px) {
    .NotFound-container h1 {
        font-size: 2rem;
    }
    .NotFound-container a {
        margin-top: 2.5rem;
        font-size: 1rem;
        padding: 0 30px;
        line-height: 45px;
    }
}
